@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/core/lib/css/blueprint.css";


.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94.5%;
  background-color: #ffffff;
  font-family: 'Baloo Bhai', cursive 
}
.Login__name {
  color: #ff6348;
  font-size: 50px
}
.Login__status,
.Login__info {
  padding: 1rem;
}

.Login__img {
  border-radius: 50%;
  margin: 2rem 0;
}
.Login__btn {
  padding: .7rem;
  width: 150px;
  margin: 2rem 0;
  font-size: 1.2rem;
  border-radius: 30px;
  outline: 0;
  color: #fff !important;
  display: block;
  font-family: 'Baloo Bhai', cursive;
  background-color: #ff6348;
}
.Login__btn:hover {
  background: #ff7f50;
  cursor: pointer;
}

.select{
  font-family: 'Baloo Bhai', cursive ;
  border-radius: 30px;
  color: #ff6348 !important;
}

