ul {
	display: flex;
	margin: 0;
	padding: 0;
	height: 10%;
}

.navigator a {
	list-style-type: none;
	padding: 40px 30px;
	border: 3px solid #fff;
	width: 33.33%;
	background-color: #ffb142;
}

ul a:hover {
	background-color: #a4b0be;
}

.navigator .active1 {
	background-color: #a4b0be;
}
.score {
	background-image: url('../images/star.png');
	background-size: 9%;
	background-repeat: no-repeat;
	background-position: center;
}

.add {
	background-image: url('../images/add.png');
	background-size: 9%;
	background-repeat: no-repeat;
	background-position: center;
}

.home {
	background-image: url('../images/home-circular.png');
	background-size: 9%;
	background-repeat: no-repeat;
	background-position: center;
}
